{% extends "layouts/code.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->

	{% include 'layouts/nav.twig' with {'active' : 'code'} %}
	
	<header>
		<div class="hc-container py-6" >
			<h1 class="hc-h1">Code library</h1>
		</div>
	</header>


	<section role="main">

        <div class="hc-container hc-accent py-4">

            <h2>Labels</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        
                        {{label.render('Label', {for: 'test-name'})}}
                        {{label.render('Label', {class:'hc-error', for: 'Voornaam'})}}
                        {{label.render('Label', {for: 'Familienaam', optional: 'Optioneel'})}}
                        {{label.render('Label', {for: 'Anderenaam', mandatory: 'true'})}}
                    
                    </div>
                </div>
            </div>

            <h2>Icons</h2>
            
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        
                        {{icon.render('check-circle')}}
                        {{icon.render('check-circle', {class:'hc-icon--sm'})}}
                        {{icon.render('check-circle', {class:'hc-icon--md'})}}
                        {{icon.render('check-circle', {class:'hc-icon--lg'})}}
                    
                    </div>
                </div>
            </div>

            <h2>Buttons</h2>
            
            <h3>Standaard buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <button type="button" class="hc-button hc-button__primary" tabindex="0" >
                            <span class="hc-button__label">Primary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__secondary" tabindex="0" >
                            <span class="hc-button__label">Secondary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__tertiary" tabindex="0" >
                            <span class="hc-button__label">Tertiary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__primary hc-button__disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Disabled button</span>
                        </button>

                        <a type="button" class="hc-button hc-button__primary" tabindex="0" >
                            <span class="hc-button__label">Link button</span>
                        </a>
                        
                    </div>
                </div>
            </div>

            <h3>Outline buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__outline-primary" tabindex="0" >
                            <span class="hc-button__label">Primary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__outline-secondary" tabindex="0" >
                            <span class="hc-button__label">Secondary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__outline-tertiary" tabindex="0" >
                            <span class="hc-button__label">Tertiary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__outline-disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Disabled button</span>
                        </button>

                        <a type="button" class="hc-button hc-button__outline-primary" tabindex="0" >
                            <span class="hc-button__label">Link button</span>
                        </a>

                    </div>
                </div>
            </div>

            <h3>Ghost buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__ghost-primary" tabindex="0" >
                            <span class="hc-button__label">Primary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-secondary" tabindex="0" >
                            <span class="hc-button__label">Secondary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-tertiary" tabindex="0" >
                            <span class="hc-button__label">Tertiary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Disabled button</span>
                        </button>

                        <a type="button" class="hc-button hc-button__ghost-primary" tabindex="0" >
                            <span class="hc-button__label">Link button</span>
                        </a>
                        
                    </div>
                </div>
            </div>

            <h3>Icon buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__primary" tabindex="0" >
                            <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Primary button</span>
                        </button>
                        
                        <button type="button" class="hc-button hc-button__outline-secondary" tabindex="0" >
                            <span class="hc-button__label">Secondary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-tertiary" tabindex="0" >
                            <span class="hc-button__label">Tertiary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>
                        
                    </div>
                </div>
            </div>

            <h3>Buttons sizes</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__primary hc-button--lg" tabindex="0" >
                            <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Large(default) button</span>
                        </button>
                        
                        <button type="button" class="hc-button hc-button__outline-secondary hc-button--md" tabindex="0" >
                            <span class="hc-button__label">Medium button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-tertiary hc-button--sm" tabindex="0" >
                            <span class="hc-button__label">Small button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>
                        
                    </div>
                </div>
            </div>

            <h2 class="hc-h3">Links</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        <a href="#link-tekst" class="mr-4">Dit is een link</a>
                        <a href="#link-tekst" class="mr-4 hc-link"><span class="hc-link__icon hc-link__icon--start">{{icon.render('envelope')}}</span>Dit is een link met een icoon ervoor</a>
                        <a href="#link-tekst" class="mr-4 hc-link">Dit is een link met een icoon erna<span class="hc-link__icon hc-link__icon--end">{{icon.render('envelope')}}</span></a>
                    </div>
                </div>
            </div>

            <h2>Input velden</h2>
            

            <h3>Standaard input </h3>
            <p>De inputvelden krijgen een kleure wanneer er content ingevuld is. Deze visuele status kan ook gezet worden via javascript door de class <strong>.hc-has-value</strong> te plaatsen op het input veld</p>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        {{input.render({name:'nm1', placeholder:'Input', id:'name'})}}
                        {{input.render({name:'nm1', placeholder:'Input .hc-has-value', id:'name', class:"hc-has-value"})}}
                        {{input.render({name:'nm2', placeholder:'Input valid', id:'name', class: 'hc-valid'})}}
                        {{input.render({name:'nm3', placeholder:'Input warning', id:'name', class: 'hc-warning'})}}
                        {{input.render({name:'nm4', placeholder:'Input error', id:'name', class: 'hc-error'})}}
                        {{input.render({name:'nm5', placeholder:'Input disabled', id:'name', class: 'hc-disabled', disabled: true})}}
                        
                    </div>
                </div>
            </div>

            <h3>Input met iconen </h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        {{input.render({name:'addr', placeholder:'Icon vooraan', iconBefore:'heart', id:'address'})}}
                        {{input.render({name:'add', placeholder:'Icon achteraan', iconAfter:'user-alt', id:'address'})}}
                        {{input.render({name:'address', placeholder:'Icon vooraan en achteraan', iconBefore:'heart', iconAfter:'eye', id:'address'})}}
                        
                    </div>
                </div>
            </div>

            <h3>Input met autocomplete options </h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        {{input.render({name:'emailadress', placeholder:'E-mail address', autocomplete: 'email'})}}
                        {{input.render({name:'birthhhday', placeholder:'Geboortedatum', id:'address', autocomplete: "bday"})}}
                        {{input.render({name:'wachtwoord', type:'password', placeholder:'Wachtwoord', iconAfter:'eye', id:'address', autocomplete: "current-password"})}}
                        
                    </div>
                </div>
            </div>


            <h3>Input/textarea</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <div class="hc-input hc-input--multiline">
                            <textarea class="hc-input__input" placeholder='Textarea placeholer' aria-describedby="chars1"></textarea>
                        </div>

                        <div class="hc-input hc-input--multiline hc-error">
                            {{icon.render('error-circle', {class:'hc-input__icon'})}}
                            <textarea class="hc-input__input hc-input__input--icon-right" placeholder='Textarea placeholer' aria-describedby="chars1"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Helper (text)</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        {{helper.render('Vergeet je naam niet in te vullen')}}

                    </div>
                </div>
            </div>


            <h2>Combo of input label and helper</h2>
             <div class="component">
                <div class="html">
                    <div class="row justify-center">
                        <div class="combo w-50">
                            {{label.render('Veld label', {mandatory:'true', for:'field-name', id: 'label-field-name'})}}
                            {{input.render({name:'field-name', placeholder:'Placeholder', iconAfter:'user-alt', id:'field-name', label: 'label-field-name', helper: 'field-name-helper', autocomplete: 'name'})}}
                            {{helper.render('Helper text linked to input field', {id: 'field-name-helper'})}}
                        </div>
                    </div>
                </div>
            </div>


            <h2>Dropdown of select</h2>
            
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        {{select.render({ name:'company', options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}

                        {{select.render({ name:'company', placeholder:'Status valid', class:"hc-valid", options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}

                        {{select.render({ name:'company', placeholder: 'Status error', class:"hc-error", options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}

                        {{select.render({ name:'company', placeholder: 'Status disabled', class:"hc-disabled", disabled: true, options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}
                    </div>
                </div>
            </div>

            <h2>Radio buttons</h2>
            

            <h3>Radio states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center" role="radiogroup">
                        {{radio.render('gender', { label:'Radio button', value:'man' })}}
                        {{radio.render('gender', { label:'Radio checked', value:'man', checked: true})}}
                        {{radio.render('gender', { label:'Radio checked valid', value:'man', checked: true, class:'hc-valid'})}}
                        {{radio.render('gender', { label:'Radio error', value:'man', class:'hc-error' })}}
                        {{radio.render('gender', { label:'Radio disabled', value:'man', class:'hc-disabled', disabled: true})}}
                    </div>
                </div>
            </div>

            <h3>Radio list horizontal</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--horizontal" role="radiogroup">
                            <li>{{radio.render('genders', { label:'Radio button', value:'man' })}}</li>
                            <li>{{radio.render('genders', { label:'Radio checked', value:'man', checked: true})}}</li>
                            <li>{{radio.render('genders', { label:'Radio checked valid', value:'man', checked: true, class:'hc-valid'})}}</li>
                            <li>{{radio.render('genders', { label:'Radio error', value:'man', class:'hc-error' })}}</li>
                            <li>{{radio.render('genders', { label:'Radio disabled', value:'man', class:'hc-disabled', disabled: true})}}</li>
                        </ul>

                    </div>
                </div>
            </div>

            <h3>Radio list vertical </h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--vertical" role="radiogroup">
                            <li>{{radio.render('genderz', { label:'Radio button', value:'man' })}}</li>
                            <li>{{radio.render('genderz', { label:'Radio checked', value:'man', checked: true})}}</li>
                            <li>{{radio.render('genderz', { label:'Radio checked valid', value:'man', checked: true, class:'hc-valid'})}}</li>
                            <li>{{radio.render('genderz', { label:'Radio error', value:'man', class:'hc-error' })}}</li>
                            <li>{{radio.render('genderz', { label:'Radio disabled', value:'man', class:'hc-disabled', disabled: true})}}</li>
                        </ul>
                        
                    </div>
                </div>
            </div>

            <h2>Checkbox buttons</h2>
            

            <h3>Checkbox states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center" role="group">
                        {{checkbox.render('skillset', {label:'Checkbox', value:'checkbox' })}}
                        {{checkbox.render('skillset', {label:'Checkbox checked', value:'checkbox', checked: true})}}
                        {{checkbox.render('skillset', {label:'Checkbox checked valid', value:'checkbox', checked: true, class:'hc-valid'})}}
                        {{checkbox.render('skillset', {label:'Checkbox error', value:'checkbox', class:'hc-error' })}}
                        {{checkbox.render('skillset', {label:'Checkbox disabled', value:'checkbox', class:'hc-disabled', disabled: true })}}
                    </div>
                </div>
            </div>

            <h3>Checkbox list horizontal</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--horizontal" role="group">
                            <li>{{checkbox.render('skillset', {label:'Checkbox', value:'checkbox' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked', value:'checkbox', checked: true})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked valid', value:'checkbox', checked: true, class:'hc-valid'})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox error', value:'checkbox', class:'hc-error' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox disabled', value:'checkbox', class:'hc-disabled', disabled: true })}}</li>
                        </ul>

                    </div>
                </div>
            </div>

            <h3>Checkbox list vertical</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--vertical" role="group">
                            <li>{{checkbox.render('skillset', {label:'Checkbox', value:'checkbox' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked', value:'checkbox', checked: true})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked valid', value:'checkbox', checked: true, class:'hc-valid'})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox error', value:'checkbox', class:'hc-error' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox disabled', value:'checkbox', class:'hc-disabled', disabled: true })}}</li>
                        </ul>
                        
                    </div>
                </div>
            </div>

            <h2>Switcher</h2>
            <h3>Switcher states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <div class="hc-switcher w-10 mr-2">
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="yes" />
                                <label class="hc-switcher-item__label" for="yes">Yes</label>
                            </div>
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="no"/>
                                <label class="hc-switcher-item__label" for="no">No</label>
                            </div>
                        </div>

                        <div class="hc-switcher w-10 mr-2">
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no-active" id="yes-active" />
                                <label class="hc-switcher-item__label" for="yes-active">Yes</label>
                            </div>
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no-active" id="no-active" checked aria-checked="true'"/>
                                <label class="hc-switcher-item__label" for="no-active">No</label>
                            </div>
                        </div>

                        <div class="hc-switcher hc-valid w-10 mr-2">
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no-1" id="yes-1" checked aria-checked="true'"/>
                                <label class="hc-switcher-item__label" for="yes-1">Yes</label>
                            </div>
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no-1" id="no-1" />
                                <label class="hc-switcher-item__label" for="no-1">No</label>
                            </div>
                        </div>

                        <div class="hc-switcher hc-error w-10 mr-2">
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no-2" id="yes-2" />
                                <label class="hc-switcher-item__label" for="yes-2">Yes</label>
                            </div>
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no-2" id="no-2" />
                                <label class="hc-switcher-item__label" for="no-2">No</label>
                            </div>
                        </div>
                
                        <div class="hc-switcher hc-disabled w-10">
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="yes" aria-disabled="true" disabled/>
                                <label class="hc-switcher-item__label" for="yes">Yes</label>
                            </div>
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="no" aria-disabled="true" disabled/>
                                <label class="hc-switcher-item__label" for="no">No</label>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <h2>Popup</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        <div class="hc-popup" style="max-width: 400px; position: relative;">
                            <div class="hc-popup__title">Wanneer woon je met iemand samen?</div>
                            <div class="hc-popup__content">
                                <p>U woont samen met iemand als die persoon deel uitmaakt van uw huishouden, ook als die persoon op een ander adres is gedomicilieerd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Tables</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        <div class="hc-table hc-table-sm">
							<table>
								<thead>
									<tr>
										<th scope="col" class="hc-table__icon-cell"><span class="hc-sr-only">Verwijderen</span></li>
										<th scope="col" class="hc-table__icon-cell"><span class="hc-sr-only">Aanpassen</span></li>
										<th scope="col">Naam</th>
										<th scope="col">Voornaam</th>
										<th scope="col">Relatie</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Verwijderen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('close')}}</span></a></td>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Aanpassen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('edit')}}</span></a></td>
										<td>Doe</td>
										<td>John</td>
										<td>Zoon</td>
									</tr>
									<tr>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Verwijderen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('close')}}</span></a></td>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Aanpassen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('edit')}}</span></a></td>
										<td>Fonda</td>
										<td>Jane</td>
										<td>Kleindochter</td>
									</tr>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
            </div>

            <h2>Messages</h2>
            <h3>Messages states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-valid">
                                {{icon.render('check-circle', {class:'hc-message__icon'})}}
                                <span>Dit is een standaard message box</span>
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-warning">
                                {{icon.render('warning', {class:'hc-message__icon'})}}
                                <span>Dit is een standaard message box</span>
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-info">
                                {{icon.render('info', {class:'hc-message__icon'})}}
                                <span><p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Donec sed odio dui.<br />Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p></span>
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-error">
                                {{icon.render('error-circle', {class:'hc-message__icon'})}}
                                <span><p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Donec sed odio dui.<br />Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p></span>
                            </div>
                        </div>
                        
                    </div>
                </div>  
            </div>

            <h2>Screenreader classes</h2>
            <p>Voor de toegankelijkheid van de bezoeker is er soms nood aan een label of tekst die opgevangen kan worden door een screenreader maar hoeft deze visueel misschien niet aanwezig te zien. Om dit te kunnen bekomen hebben we de <strong>.hc-sr-only</strong> class. Deze zal de content visueel onzichtbaar maken maar een screen reader zal deze nog steeds opnemen.<br>Daarnaast is er ook de mogelijkheid om velden of knoppen te verbergen maar toch weer zichtbaar te maken eens ze de focus krijgen. Een 'skip to content' of 'ga naar inhoud' knop is daar een voorbeeld van. Om dit te maken moeten we <strong>.hc-sr-only</strong> en <strong>.hc-sr-only-focusable</strong> voegen aan het element.</p>
            <p>Om dit voorbeeld te bekijken, gebruik je best de code-view of klik in ondestaand code blok of een vorig element en gebruik de tab-toets.</p>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <label class="hc-sr-only">Dit label kan voorgelezen worden</label>
                        <a href="#link-tekst" class="mr-4 hc-link hc-sr-only hc-sr-only-focusable"><span class="hc-link__icon hc-link__icon--start">{{icon.render('envelope')}}</span>Dit is een link met een icoon ervoor</a>
                        
                    </div>
                </div>  
            </div>

        </div>
           
	</section>

{% endblock %}
   
{% block javascript %}
     {% include 'layouts/highlight.twig' %}
{% endblock %}