{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->

    {% include 'layouts/nav.twig'  with {'active' : 'comp'} %}

	<header>
		<div class="hc-container  py-6">
			<h1 class="hc-h1">Components</h1>
		</div>
	</header>


	<section role="main">

        <div class="hc-container hc-accent py-4">
            <h2>Yes/No Switcher</h2>
            <div class="row">
                <div class="col-6--sm col-12--xxs mb-3">
                    <div class="hc-switcher">
                        <div class="hc-switcher-item">
                            <input class="hc-switcher-item__input" type="radio" name="yes-no" id="yes" />
                            <label class="hc-switcher-item__label" for="yes">Yes</label>
                        </div>
                        <div class="hc-switcher-item">
                            <input class="hc-switcher-item__input" type="radio" name="yes-no" id="no" />
                            <label class="hc-switcher-item__label" for="no">No</label>
                        </div>
                    </div>
                </div>

                <div class="col-6--sm col-12--xxs mb-3">
                    <div class="hc-switcher hc-disabled">
                        <div class="hc-switcher-item">
                            <input class="hc-switcher-item__input" type="radio" name="yes-no" id="yes" aria-disabled="true" disabled/>
                            <label class="hc-switcher-item__label" for="yes">Yes</label>
                        </div>
                        <div class="hc-switcher-item">
                            <input class="hc-switcher-item__input" type="radio" name="yes-no" id="no" aria-disabled="true" disabled/>
                            <label class="hc-switcher-item__label" for="no">No</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

		<div class="hc-container hc-accent py-4">
            <h2>Labels</h2>   
			<div class="row">
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    {{label.render('Label', {for: 'test-name'})}}
                </div>
			
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    {{label.render('Label', {class:'hc-error', for: 'Voornaam'})}}
                </div>
			
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    {{label.render('Label', {for: 'Familienaam', optional: 'Optioneel'})}}
                </div>
			
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    {{label.render('Label', {for: 'Anderenaam', mandatory: 'true'})}}
                </div>
			</div>
        </div>

		<div class="hc-container hc-accent py-4">
            <h2>Buttons</h2>
            <div class="row align-center">

                <div class="col-12 pb-1">
                    <button type="button" class="hc-button hc-button__primary hc-button--lg" tabindex="0" >
                        <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Primary button</span>
                    </button>
                    <button type="button" class="hc-button hc-button__primary hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                    <button type="button" class="hc-button hc-button__primary hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Primary button</span>
                    </button>
                    <button type="button" class="hc-button hc-button__primary hc-button--sm hc-button__disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Primary button</span>
                    </button>
                    <a type="button" class="hc-button hc-button__primary" tabindex="0" >
                        <span class="hc-button__label">Primary link </span>
                    </a>
                </div>

                <div class="col-12 pb-2">
                    <button type="button" class="hc-button hc-button__outline-primary hc-button--lg" tabindex="0" >
                        <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Primary button</span>
                    </button>
                    <button type="button" class="hc-button hc-button__outline-primary hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                    <button type="button" class="hc-button hc-button__outline-primary hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Primary button</span>
                    </button>
                    <button type="button" class="hc-button hc-button--sm hc-button__outline-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                     <button type="button" class="hc-button hc-button--sm hc-button__outline-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                </div>
                
                <div class="col-12 pb-2">
                    <button type="button" class="hc-button hc-button__ghost-primary hc-button--lg" tabindex="0" >
                        <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Primary button</span>
                    </button>
                    <button type="button" class="hc-button hc-button__ghost-primary hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                    <button type="button" class="hc-button hc-button__ghost-primary hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Primary button</span>
                    </button>
                    <button type="button" class="hc-button hc-button--sm hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                     <button type="button" class="hc-button hc-button--sm hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>

                </div>
            </div>

            <div class="row align-center">
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__secondary w-100 mb-2 hc-button--lg" tabindex="0" >
                        <span class="hc-button__label">
                            <span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Secondary button
                        </span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__secondary w-100 mb-2 hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Secondary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-12--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__secondary mb-2 hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Secondary button</span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-12--xs col-12 pb-1">
                    <button type="button" class="hc-button w-100 mb-2 hc-button--sm hc-button__disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Secondary button</span>
                    </button>
                </div>

                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__outline-secondary w-100 mb-2 hc-button--lg" tabindex="0" >
                        <span class="hc-button__label">
                            <span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Secondary button
                        </span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__outline-secondary w-100 mb-2 hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Secondary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__outline-secondary w-100 mb-2 hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Secondary button</span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button w-100 mb-2 hc-button--sm hc-button__outline-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Secondary button</span>
                    </button>
                </div>

                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__ghost-secondary w-100 mb-2 hc-button--lg" tabindex="0" >
                        <span class="hc-button__label">
                            <span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Secondary button
                        </span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__ghost-secondary w-100 mb-2 hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Secondary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__ghost-secondary w-100 mb-2 hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Secondary button</span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button w-100 mb-2 hc-button--sm hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Secondary button</span>
                    </button>
                </div>
                
            </div>

            <div class="row align-center">
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__tertiary hc-button--lg" tabindex="0" >
                        <span class="hc-button__label">
                            <span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Tertiary button
                        </span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__tertiary hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Tertiary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__tertiary hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Tertiary button</span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button--sm hc-button__disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Tertiary button</span>
                    </button>
                </div>
                
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__outline-tertiary hc-button--lg" tabindex="0" >
                        <span class="hc-button__label">
                            <span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Tertiary button
                        </span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__outline-tertiary hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Tertiary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__outline-tertiary hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Tertiary button</span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button--sm hc-button__outline-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Tertiary button</span>
                    </button>
                </div>

                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__ghost-tertiary hc-button--lg" tabindex="0" >
                        <span class="hc-button__label">
                            <span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Tertiary button
                        </span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__ghost-tertiary hc-button--md" tabindex="0" >
                        <span class="hc-button__label">Tertiary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button__ghost-tertiary hc-button--sm" tabindex="0" >
                        <span class="hc-button__label">Tertiary button</span>
                    </button>
                </div>
                <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                    <button type="button" class="hc-button hc-button--sm hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                        <span class="hc-button__label">Tertiary button</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="hc-container hc-accent py-4">
            <h2>Links</h2>
            <div class="row align-center">

                <div class="col-12 pb-1">
                    <a href="#link-tekst" class="mr-4">Dit is een link</a>
                    <a href="#link-tekst" class="mr-4 hc-link"><span class="hc-link__icon hc-link__icon--start">{{icon.render('envelope')}}</span>Dit is een link met een icoon ervoor</a>
                    <a href="#link-tekst" class="mr-4 hc-link">Dit is een link met een icoon erna<span class="hc-link__icon hc-link__icon--end">{{icon.render('envelope')}}</span></a>
                </div>
            </div>
        </div>

		<div class="hc-container hc-accent py-4">
            <h2>Inputfield</h2>
			<div class="row">
                <div class="col-3--xl col-4--lg col-6--md col-12--xxs">
                    <div class="mb-3">
                        {{label.render('text', {for: 'name', mandatory:'true'})}}
                        {{input.render({name:'name', placeholder:'Enter your full name', iconBefore:'heart', iconAfter:'user-alt', id:'name'})}}
                        {{helper.render('Vergeet je naam niet in te vullen')}}
                    </div>
                </div>
			
                <div class="col-3--xl col-4--lg col-6--md col-12--xxs">
                    <div class="mb-3">
                        {{label.render('text', {for: 'firstname', class: 'hc-valid '})}}
                        {{input.render({name:'firstname', placeholder:'Naam', iconAfter:'user-alt', id:'firstname', class:'hc-valid  '})}}
                        {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-valid '})}}
                    </div>
                </div>
			
                <div class="col-3--xl col-4--lg col-6--md col-12--xxs">
                    <div class="mb-3">
                        {{label.render('Password', {for: 'secondname', class:'hc-warning '})}}
                        {{input.render({type:"password", name:'secondname', placeholder:'Password', iconAfter:'eye', id:'secondname', class:'hc-warning '})}}
                        {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-warning '})}}
                    </div>
                </div>
			
                <div class="col-3--xl col-4--lg col-6--md col-12--xxs">
                    <div class="mb-3">
                        {{label.render('text', {for: 'address', class:'hc-error'})}}
                        {{input.render({name:'address', placeholder:'Address', iconAfter:'user-alt', id:'address', class:'hc-error '})}}
                        {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-error '})}}
                    </div>
                </div>
			</div>

			<div class="row">
                <div class="col-4--md col-6--sm col-12--xxs">
                    <div class="mb-3">
                        {{label.render('text', {for: 'name', mandatory:'true'})}}
                        {{input.render({name:'name', placeholder:'Enter your full name', iconAfter:'user-alt', id:'name'})}}
                        {{helper.render('Vergeet je naam niet in te vullen')}}
                    </div>
                </div>
			
                <div class="col-8--md col-6--sm col-12--xxs">
                    <div class="mb-3">
                        {{label.render('text', {for: 'firstname', class: 'hc-valid '})}}
                        {{input.render({name:'firstname', placeholder:'Naam', iconAfter:'user-alt', id:'firstname', class:'hc-valid  '})}}
                        {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-valid '})}}
                    </div>
                </div>
			
                <div class="col-4--md col-6--sm col-12--xxs">
                    <div class="mb-3">
                        {{label.render('text', {for: 'secondname', class:'hc-warning '})}}
                        {{input.render({name:'secondname', placeholder:'Second Name', iconAfter:'user-alt', id:'secondname', class:'hc-warning '})}}
                        {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-warning '})}}
                    </div>
                </div>
			
                <div class="col-8--md col-6--sm col-12--xxs">
                    <div class="mb-3">
                        {{label.render('text', {for: 'address', class:'hc-error '})}}
                        {{input.render({name:'address', placeholder:'Address', iconAfter:'user-alt', id:'address', class:'hc-error '})}}
                        {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-error '})}}
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-4--md col-6--sm col-12--xxs">
                            <div class="mb-3">
                                {{label.render('text', {for: 'name', mandatory:'true'})}}
                                {{input.render({name:'name', placeholder:'Enter your full name', iconAfter:'user-alt', id:'name'})}}
                                {{helper.render('Vergeet je naam niet in te vullen')}}
                            </div>
                        </div>
                    
                        <div class="col-8--md col-6--sm col-12--xxs">
                            <div class="mb-3">
                                {{label.render('text', {for: 'firstname', class: 'hc-valid '})}}
                                {{input.render({name:'firstname', placeholder:'Naam', iconAfter:'user-alt', id:'firstname', class:'hc-valid  '})}}
                                {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-valid '})}}
                            </div>
                        </div>
                    
                        <div class="col-4--md col-6--sm col-12--xxs">
                            <div class="mb-3">
                                {{label.render('text', {for: 'secondname', class:'hc-warning '})}}
                                {{input.render({name:'secondname', placeholder:'Second Name', iconAfter:'user-alt', id:'secondname', class:'hc-warning '})}}
                                {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-warning '})}}
                            </div>
                        </div>
                    
                        <div class="col-8--md col-6--sm col-12--xxs">
                            <div class="mb-3">
                                {{label.render('text', {for: 'address', class:'hc-error '})}}
                                {{input.render({name:'address', placeholder:'Address', iconAfter:'user-alt', id:'address', class:'hc-error '})}}
                                {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-error '})}}
                            </div>
                        </div>
                        
                        <div class="col-8--md col-6--sm col-12--xxs">
                            <div class="mb-3">
                                {{label.render('text', {for: 'birth', class:'hc-disabled'})}}
                                {{input.render({name:'birth', placeholder:'Birth', iconAfter:'user-alt', id:'birth', class:'hc-disabled', disabled: true, autocomplete: 'bday'})}}
                                {{helper.render('Vergeet je naam niet in te vullen', {class:'hc-disabled '})}}
                            </div>
                        </div>
                    </div>
                </div>
			</div>
        </div>

        <div class="hc-container hc-accent py-4">
            <h2>Inputfield - multiline</h2>
			<div class="row">
                <div class="col-8--md col-6--sm col-12--xxs">
                    {{label.render('Birth', {for: 'birth', class:'hc-disabled'})}}
                    <div class="hc-input hc-input--multiline">
                        {{icon.render('envelope', {class:'hc-input__icon'})}}
                        <textarea class="hc-input__input hc-input__input--icon-right" placeholder='Textarea placeholer' aria-describedby="chars1"></textarea>
                    </div>
                    {{helper.render('Nog 150 karakters over', {id: 'chars1', class: 'ta-r'})}}
                </div>
            </div>
        </div>

        <div class="hc-container hc-accent py-4">
            <h2>Inputfield - file</h2>
			<div class="row">
                <div class="col-8--md col-6--sm col-12--xxs">
                    {{label.render('Upload CV', {for: 'cv'})}}
                    <div class="hc-input hc-input--file">
                        <input class="hc-input__input" id="cv" type="file" placeholder='Choose file'>
                    </div>
                </div>
            </div>
        </div>

        <div class="hc-container hc-accent py-4">
            <h2>Dropdown</h2>  
            {{label.render('dropdown', { mandatory: true })}}
            {{select.render({ name:'company', options:[
                {
                    label: "UXMen",
                    value: "uxmen"
                },
                {
                    label: "Calibrate",
                    value: "calibrate"
                }
            ]})}}
        </div>

        <div class="hc-container hc-accent py-4">
            <h2>Checkbox / Radiobuttons</h2>
            <div class="row">
                <div class="col-6--sm col-12--xxs mb-3">
                    {{label.render('Pick your skills', {optional: 'Optional'})}}
                    <ul class="hc-input__list hc-input__list--vertical">
                        <li>{{checkbox.render('skillset', {label:'Adobe Photoshop', value:'photoshop' })}}</li>
                        <li>{{checkbox.render('skillset', {label:'Adobe Illustrator', value:'illustrator' })}}</li>
                        <li>{{checkbox.render('skillset', {label:'Adobe Indesign', value:'indesign' })}}</li>
                        <li>{{checkbox.render('skillset', {label:'Adobe XD', value:'xd' })}}</li>
                        <li>{{checkbox.render('skillset', {label:'Sketch', value:'sketch' })}}</li>
                        <li>{{checkbox.render('skillset', {label:'Figma', value:'figma' })}}</li>
                    </ul>
                </div>

                <div class="col-6--sm col-12--xxs mb-3">
                    <label class="hc-input__label mb-1">Gender</label>
                    <ul class="hc-input__list hc-input__list--horizontal">
                        <li>{{radio.render('gender',{label:'Man', value:'man'})}}</li>
                        <li>{{radio.render('gender',{label:'Woman', value:'woman'})}}</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="hc-container hc-accent py-4">
            <h2>Table</h2>
            <div class="hc-table hc-table-sm">
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="hc-table__icon-cell"><span class="hc-sr-only">Verwijderen</span></li>
                            <th scope="col" class="hc-table__icon-cell"><span class="hc-sr-only">Aanpassen</span></li>
                            <th scope="col">Naam</th>
                            <th scope="col">Voornaam</th>
                            <th scope="col">Relatie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#verwijderen" class="hc-link" role="button" aria-label="Verwijderen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('close')}}</span></a></td>
                            <td><a href="#verwijderen" class="hc-link" role="button" aria-label="Aanpassen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('edit')}}</span></a></td>
                            <td>Doe</td>
                            <td>John</td>
                            <td>Zoon</td>
                        </tr>
                        <tr>
                            <td><a href="#verwijderen" class="hc-link" role="button" aria-label="Verwijderen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('close')}}</span></a></td>
                            <td><a href="#verwijderen" class="hc-link" role="button" aria-label="Aanpassen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('edit')}}</span></a></td>
                            <td>Fonda</td>
                            <td>Jane</td>
                            <td>Kleindochter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="hc-container hc-accent py-4">

            <h2>Messages</h2>
            <div class="row">
                <div class="col-6--sm col-12--xxs mb-3">
                    <div class="hc-message hc-valid">
                        {{icon.render('check-circle', {class:'hc-message__icon'})}}
                        <span>Dit is een standaard message box</span>
                    </div>
                </div>

                <div class="col-6--sm col-12--xxs mb-3">
                    <div class="hc-message hc-warning">
                        {{icon.render('warning', {class:'hc-message__icon'})}}
                        <span>Dit is een standaard message box</span>
                    </div>
                </div>

                <div class="col-6--sm col-12--xxs mb-3">
                    <div class="hc-message hc-info">
                        {{icon.render('info', {class:'hc-message__icon'})}}
                        <span><p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Donec sed odio dui.<br />Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p></span>
                    </div>
                </div>

                <div class="col-6--sm col-12--xxs mb-3">
                    <div class="hc-message hc-error">
                        {{icon.render('error-circle', {class:'hc-message__icon'})}}
                        <span><p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Donec sed odio dui.<br />Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p></span>
                    </div>
                </div>


            </div>
        </div>

	</section>

{% endblock %}