{% extends "layouts/code.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->
	
	{% include 'layouts/header.twig' %}

	<section role="main">

        <div class="hc-container accent py-4">
            <div class="component">
                <div class="html">
                    <h2 class="hc-h3">Labels</h2>   
                    <div class="row">
                        <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                            {{label.render('Label', {for: 'test-name'})}}
                        </div>
                    
                        <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                            {{label.render('Label', {class:'hc-error', for: 'Voornaam'})}}
                        </div>
                    
                        <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                            {{label.render('Label', {for: 'Familienaam', optional: 'Optioneel'})}}
                        </div>
                    
                        <div class="col-3--xxl col-4--lg col-6--xs col-12 pb-1">
                            {{label.render('Label', {for: 'Anderenaam', mandatory: 'true'})}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="component">
                <div class="html">
                    <div class="col-12 pb-2">
                        <button type="button" class="hc-button hc-button__ghost-primary hc-button--lg" tabindex="0" >
                            <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope', 'hc-icon')}}</span>Primary button</span>
                        </button>
                        <button type="button" class="hc-button hc-button__ghost-primary hc-button--md" tabindex="0" >
                            <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope', 'hc-icon')}}</span></span>
                        </button>
                        <button type="button" class="hc-button hc-button__ghost-primary hc-button--sm" tabindex="0" >
                            <span class="hc-button__label">Primary button</span>
                        </button>
                        <button type="button" class="hc-button hc-button--sm hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope', 'hc-icon')}}</span></span>
                        </button>
                        <button type="button" class="hc-button hc-button--sm hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope', 'hc-icon')}}</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
           
	</section>

{% endblock %}

{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            document.querySelectorAll('.component .html').forEach((block) => {

                var _shadowBlock = document.createElement('div');
                _shadowBlock.classList.add('shadowDom')
                var _pre = document.createElement('pre');
                var _code = document.createElement('code');
                _code.innerHTML = block.innerHTML.replace(/</g, '&lt').replace(/>/g, '&gt');
                
                _pre.appendChild(_code);
                _shadowBlock.appendChild(_pre);
                block.parentNode.appendChild(_shadowBlock);

                hljs.highlightBlock(_shadowBlock);


                var clipboardButton = document.createElement('button');
                clipboardButton.textContent = 'Copy Code';
                clipboardButton.classList.add('btn');
                clipboardButton.setAttribute('data-clipboard-action', 'copy')

                _shadowBlock.appendChild(clipboardButton);

                clipboardButton = new ClipboardJS(clipboardButton, {
                    text: function(trigger){
                        console.info(trigger);
                        elem = trigger.parentNode.querySelector('.html ');
                        return  elem.innerHTML;
                    }
                });

            });

        });
    </script>
{% endblock %}