{% extends "layouts/code.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->
	
	<header>
		<div class="hc-container">
			<h1 class="hc-h1">Library</h1>
		</div>
	</header>

	<section role="main">

        <div class="hc-container hc-accent py-4">

            <h2>Labels</h2>
            
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        
                        {{label.render('Label', {for: 'test-name'})}}
                        {{label.render('Label', {class:'hc-error', for: 'Voornaam'})}}
                        {{label.render('Label', {for: 'Familienaam', optional: 'Optioneel'})}}
                        {{label.render('Label', {for: 'Anderenaam', mandatory: 'true'})}}
                    
                    </div>
                </div>
            </div>

            <h2>Icons</h2>
            
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        
                        {{icon.render('check-circle')}}
                        {{icon.render('check-circle', {class:'hc-icon--sm'})}}
                        {{icon.render('check-circle', {class:'hc-icon--md'})}}
                        {{icon.render('check-circle', {class:'hc-icon--lg'})}}
                    
                    </div>
                </div>
            </div>

            <h2>Buttons</h2>
            
            <h3>Standaard buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <button type="button" class="hc-button hc-button__primary" tabindex="0" >
                            <span class="hc-button__label">Primary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__secondary" tabindex="0" >
                            <span class="hc-button__label">Secondary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__tertiary" tabindex="0" >
                            <span class="hc-button__label">Tertiary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__primary hc-button__disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Disabled button</span>
                        </button>

                        <a type="button" class="hc-button hc-button__primary" tabindex="0" >
                            <span class="hc-button__label">Link button</span>
                        </a>
                        
                    </div>
                </div>
            </div>

            <h3>Outline buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__outline-primary" tabindex="0" >
                            <span class="hc-button__label">Primary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__outline-secondary" tabindex="0" >
                            <span class="hc-button__label">Secondary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__outline-tertiary" tabindex="0" >
                            <span class="hc-button__label">Tertiary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__outline-disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Disabled button</span>
                        </button>

                        <a type="button" class="hc-button hc-button__outline-primary" tabindex="0" >
                            <span class="hc-button__label">Link button</span>
                        </a>

                    </div>
                </div>
            </div>

            <h3>Ghost buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__ghost-primary" tabindex="0" >
                            <span class="hc-button__label">Primary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-secondary" tabindex="0" >
                            <span class="hc-button__label">Secondary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-tertiary" tabindex="0" >
                            <span class="hc-button__label">Tertiary button</span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-disabled" aria-disabled="true" tabindex="-1"  disabled>
                            <span class="hc-button__label">Disabled button</span>
                        </button>

                        <a type="button" class="hc-button hc-button__ghost-primary" tabindex="0" >
                            <span class="hc-button__label">Link button</span>
                        </a>
                        
                    </div>
                </div>
            </div>

            <h3>Icon buttons</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__primary" tabindex="0" >
                            <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Primary button</span>
                        </button>
                        
                        <button type="button" class="hc-button hc-button__outline-secondary" tabindex="0" >
                            <span class="hc-button__label">Primary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-tertiary" tabindex="0" >
                            <span class="hc-button__label">Secondary button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>
                        
                    </div>
                </div>
            </div>

            <h3>Buttons sizes</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <button type="button" class="hc-button hc-button__primary hc-button--lg" tabindex="0" >
                            <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('envelope')}}</span>Large(standaard) button</span>
                        </button>
                        
                        <button type="button" class="hc-button hc-button__outline-secondary hc-button--md" tabindex="0" >
                            <span class="hc-button__label">Medium button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>

                        <button type="button" class="hc-button hc-button__ghost-tertiary hc-button--sm" tabindex="0" >
                            <span class="hc-button__label">Small button<span class="hc-button__icon hc-button__icon--end">{{icon.render('envelope')}}</span></span>
                        </button>
                        
                    </div>
                </div>
            </div>

            <h2 class="hc-h3">Links</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        <a href="#link-tekst" class="mr-4">Dit is een link</a>
                        <a href="#link-tekst" class="mr-4 hc-link"><span class="hc-link__icon hc-link__icon--start">{{icon.render('envelope')}}</span>Dit is een link met een icoon ervoor</a>
                        <a href="#link-tekst" class="mr-4 hc-link">Dit is een link met een icoon erna<span class="hc-link__icon hc-link__icon--end">{{icon.render('envelope')}}</span></a>
                    </div>
                </div>
            </div>

            <h2>Input velden</h2>
            

            <h3>Standaard input </h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        {{input.render({name:'name', placeholder:'Input', id:'name'})}}
                        {{input.render({name:'name', placeholder:'Input valid', id:'name', class: 'hc-valid'})}}
                        {{input.render({name:'name', placeholder:'Input warning', id:'name', class: 'hc-warning'})}}
                        {{input.render({name:'name', placeholder:'Input error', id:'name', class: 'hc-error'})}}
                        {{input.render({name:'name', placeholder:'Input disabled', id:'name', class: 'hc-disabled', disabled: true})}}
                        
                    </div>
                </div>
            </div>

            <h3>Input met iconen </h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        {{input.render({name:'address', placeholder:'Icon vooraan', iconBefore:'heart', id:'address'})}}
                        {{input.render({name:'address', placeholder:'Icon achteraan', iconAfter:'user-alt', id:'address'})}}
                        {{input.render({name:'address', placeholder:'Icon vooraan en achteraan', iconBefore:'heart', iconAfter:'eye', id:'address'})}}
                        
                    </div>
                </div>
            </div>

            <h3>Input met autocomplete options </h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        {{input.render({name:'emailadress', placeholder:'E-mail address', autocomplete: 'email'})}}
                        {{input.render({name:'birthhhday', placeholder:'Geboortedatum', id:'address', autocomplete: "bday"})}}
                        {{input.render({name:'wachtwoord', type:'password', placeholder:'Wachtwoord', iconAfter:'eye', id:'address', autocomplete: "current-password"})}}
                        
                    </div>
                </div>
            </div>


            <h3>Input/textarea</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                    
                        <div class="hc-input hc-input--multiline">
                            <textarea class="hc-input__input" placeholder='Textarea placeholer' aria-describedby="chars1"></textarea>
                        </div>

                        <div class="hc-input hc-input--multiline hc-error">
                            {{icon.render('error-circle', {class:'hc-input__icon'})}}
                            <textarea class="hc-input__input hc-input__input--icon-right" placeholder='Textarea placeholer' aria-describedby="chars1"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Dropdown of select</h2>
            
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        {{select.render({ name:'company', options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}

                        {{select.render({ name:'company', placeholder:'Status valid', class:"hc-valid", options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}

                        {{select.render({ name:'company', placeholder: 'Status error', class:"hc-error", options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}

                        {{select.render({ name:'company', placeholder: 'Status disabled', class:"hc-disabled", disabled: true, options:[
                            {
                                label: "UXMen",
                                value: "uxmen"
                            },
                            {
                                label: "Calibrate",
                                value: "calibrate"
                            }
                        ]})}}
                    </div>
                </div>
            </div>

            <h2>Radio buttons</h2>
            

            <h3>Radio states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        {{radio.render('gender', { label:'Radio button', value:'man' })}}
                        {{radio.render('gender', { label:'Radio checked', value:'man', checked: true})}}
                        {{radio.render('gender', { label:'Radio checked valid', value:'man', checked: true, class:'hc-valid'})}}
                        {{radio.render('gender', { label:'Radio error', value:'man', class:'hc-error' })}}
                        {{radio.render('gender', { label:'Radio disabled', value:'man', class:'hc-disabled', disabled: true})}}
                    </div>
                </div>
            </div>

            <h3>Radio list horizontal</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--horizontal">
                            <li>{{radio.render('genders', { label:'Radio button', value:'man' })}}</li>
                            <li>{{radio.render('genders', { label:'Radio checked', value:'man', checked: true})}}</li>
                            <li>{{radio.render('genders', { label:'Radio checked valid', value:'man', checked: true, class:'hc-valid'})}}</li>
                            <li>{{radio.render('genders', { label:'Radio error', value:'man', class:'hc-error' })}}</li>
                            <li>{{radio.render('genders', { label:'Radio disabled', value:'man', class:'hc-disabled', disabled: true})}}</li>
                        </ul>

                    </div>
                </div>
            </div>

            <h3>Radio list horizontal</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--vertical">
                            <li>{{radio.render('genderz', { label:'Radio button', value:'man' })}}</li>
                            <li>{{radio.render('genderz', { label:'Radio checked', value:'man', checked: true})}}</li>
                            <li>{{radio.render('genderz', { label:'Radio checked valid', value:'man', checked: true, class:'hc-valid'})}}</li>
                            <li>{{radio.render('genderz', { label:'Radio error', value:'man', class:'hc-error' })}}</li>
                            <li>{{radio.render('genderz', { label:'Radio disabled', value:'man', class:'hc-disabled', disabled: true})}}</li>
                        </ul>
                        
                    </div>
                </div>
            </div>

            <h2>Checkbox buttons</h2>
            

            <h3>Checkbox states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        {{checkbox.render('skillset', {label:'Checkbox', value:'checkbox' })}}
                        {{checkbox.render('skillset', {label:'Checkbox checked', value:'checkbox', checked: true})}}
                        {{checkbox.render('skillset', {label:'Checkbox checked valid', value:'checkbox', checked: true, class:'hc-valid'})}}
                        {{checkbox.render('skillset', {label:'Checkbox error', value:'checkbox', class:'hc-error' })}}
                        {{checkbox.render('skillset', {label:'Checkbox disabled', value:'checkbox', class:'hc-disabled', disabled: true })}}
                    </div>
                </div>
            </div>

            <h3>Checkbox list horizontal</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--horizontal">
                            <li>{{checkbox.render('skillset', {label:'Checkbox', value:'checkbox' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked', value:'checkbox', checked: true})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked valid', value:'checkbox', checked: true, class:'hc-valid'})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox error', value:'checkbox', class:'hc-error' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox disabled', value:'checkbox', class:'hc-disabled', disabled: true })}}</li>
                        </ul>

                    </div>
                </div>
            </div>

            <h3>Checkbox list horizontal</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <ul class="hc-input__list hc-input__list--vertical">
                            <li>{{checkbox.render('skillset', {label:'Checkbox', value:'checkbox' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked', value:'checkbox', checked: true})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox checked valid', value:'checkbox', checked: true, class:'hc-valid'})}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox error', value:'checkbox', class:'hc-error' })}}</li>
                            <li>{{checkbox.render('skillset', {label:'Checkbox disabled', value:'checkbox', class:'hc-disabled', disabled: true })}}</li>
                        </ul>
                        
                    </div>
                </div>
            </div>

            <h2>Switcher</h2>
            <h3>Switcher states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <div class="hc-switcher">
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="yes" />
                                <label class="hc-switcher-item__label" for="yes">Yes</label>
                            </div>
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="no" />
                                <label class="hc-switcher-item__label" for="no">No</label>
                            </div>
                        </div>
                
                        <div class="hc-switcher hc-disabled">
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="yes" aria-disabled="true" disabled/>
                                <label class="hc-switcher-item__label" for="yes">Yes</label>
                            </div>
                            <div class="hc-switcher-item">
                                <input class="hc-switcher-item__input" type="radio" name="yes-no" id="no" aria-disabled="true" disabled/>
                                <label class="hc-switcher-item__label" for="no">No</label>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <h2>Popup</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        <div class="hc-popup" style="max-width: 400px; position: relative;">
                            <div class="hc-popup__title">Wanneer woon je met iemand samen?</div>
                            <div class="hc-popup__content">
                                <p>U woont samen met iemand als die persoon deel uitmaakt van uw huishouden, ook als die persoon op een ander adres is gedomicilieerd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Tables</h2>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">
                        <div class="hc-table hc-table-sm">
							<table>
								<thead>
									<tr>
										<th scope="col" class="hc-table__icon-cell"><span class="hc-sr-only">Verwijderen</span></li>
										<th scope="col" class="hc-table__icon-cell"><span class="hc-sr-only">Aanpassen</span></li>
										<th scope="col">Naam</th>
										<th scope="col">Voornaam</th>
										<th scope="col">Relatie</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Verwijderen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('close')}}</span></a></td>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Aanpassen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('edit')}}</span></a></td>
										<td>Doe</td>
										<td>John</td>
										<td>Zoon</td>
									</tr>
									<tr>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Verwijderen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('close')}}</span></a></td>
										<td><a href="#verwijderen" class="hc-link" role="button" aria-label="Aanpassen"><span class="hc-link__icon hc-link__icon--start">{{icon.render('edit')}}</span></a></td>
										<td>Fonda</td>
										<td>Jane</td>
										<td>Kleindochter</td>
									</tr>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
            </div>

            <h2>Messages</h2>
            <h3>Messages states</h3>
            <div class="component">
                <div class="html">
                    <div class="row justify-center align-center">

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-valid">
                                {{icon.render('check-circle', {class:'hc-message__icon'})}}
                                <span>Dit is een standaard message box</span>
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-warning">
                                {{icon.render('warning', {class:'hc-message__icon'})}}
                                <span>Dit is een standaard message box</span>
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-info">
                                {{icon.render('info', {class:'hc-message__icon'})}}
                                <span><p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Donec sed odio dui.<br />Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p></span>
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="hc-message hc-error">
                                {{icon.render('error-circle', {class:'hc-message__icon'})}}
                                <span><p>Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Donec sed odio dui.<br />Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p></span>
                            </div>
                        </div>
                        
                    </div>
                </div>  
            </div>

        </div>
           
	</section>

{% endblock %}

{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            document.querySelectorAll('.component .html .row').forEach((block) => {

                var _shadowBlock = document.createElement('div');
                _shadowBlock.classList.add('shadowDom')
                
                var _pre = document.createElement('pre');
                var _code = document.createElement('code');
                _code.innerHTML = block.innerHTML.replace(/</g, '&lt').replace(/>/g, '&gt');
                
                _pre.appendChild(_code);
                _shadowBlock.appendChild(_pre);
                block.parentNode.parentNode.appendChild(_shadowBlock);

                hljs.highlightBlock(_shadowBlock);

                var _html =  _shadowBlock.parentNode.querySelector('.html');

                var toggleButton = document.createElement('button');
                toggleButton.textContent = 'Show code';
                toggleButton.classList.add('btn', 'show', 'right');

                _shadowBlock.parentNode.insertBefore(toggleButton, _html.nextSibling);

                toggleButton.addEventListener('click', e => {
                    var element= e.target;
                    console.info(element);
                    var dom = element.parentNode.querySelector('.shadowDom');
                    if(dom.classList.contains('code-show')) {
                        dom.classList.remove('code-show');
                        e.target.innerHTML = 'Show code';
                        e.target.classList.remove('active');
                    } else {
                        dom.classList.add('code-show');
                        e.target.innerHTML = 'Hide code';
                        e.target.classList.add('active');
                    }
                });

                var clipboardButton = document.createElement('button');
                clipboardButton.textContent = 'Copy Code';
                clipboardButton.classList.add('btn', 'right');
                clipboardButton.setAttribute('data-clipboard-action', 'copy')

                //_shadowBlock.parentNode.appendChild(clipboardButton);
                
                _shadowBlock.parentNode.insertBefore(clipboardButton, _html.nextSibling);
                
                clipboardButton = new ClipboardJS(clipboardButton, {
                    text: function(trigger){
                        console.info(trigger);
                        elem = trigger.parentNode.querySelector('.html > *');
                        return  elem.innerHTML;
                    }
                });

            });

        });
    </script>
{% endblock %}