{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->
	<header>
		<div class="hc-container hc-container-condensed">
			<h1>Aanvraag voor volledige werkloosheidsuitkeringen (C1)</h1>
		</div>
	</header>

	<section role="main">

        <div class="hc-container hc-container-condensed accent py-4">
            <h2>Mijn persoonsgegevens</h2>
			<fieldset class="row">
                <div class="col-5--sm col-12--xxs">
					<div class="mb-3">
                        {{label.render('Rijksregisternummer', { mandatory:true , for: 'rrn', id: 'label-rrn', class: "hc-valid"})}}
                        {{input.render({name:'rijksregisternummer', placeholder:'xx.xx.xx - xxx.xx', id:'rrn', label: 'label-rrn', class: 'hc-valid', helper: 'help-rrn'})}}
                        {{helper.render('De recto zijde is de voorkant van jouw eID', {id:'help-rrn', class: 'hc-valid'})}}
                    </div>
				</div>
				<div class="col-7--sm col-12--xxs">
					<div class="mb-3">
                        {{label.render('Nationaliteit', {for: 'nat', id:'label-nat', mandatory: true })}}
						{{select.render('Country', {id:'nat', label: 'label-nat', options:[
							{
								label: "Australië",
								value: "AU"
							},
							{
								label: "België",
								value: "BE"
							},
							{
								label: "Canada",
								value: "CA"
							},
							{
								label: "Denemarken",
								value: "DK"
							},
							{
								label: "Estland",
								value: "EST"
							},
							{
								label: "Frankrijk",
								value: "FR"
							}
						]})}}
                    </div>
				</div>
				<div class="col-6--sm col-12--xxs">
					<div class="mb-3">
                        {{label.render('Naam', {id: 'naam', mandatory:'true'})}}
                        {{input.render({name:'Naam', placeholder:'Naam', id:'naam'})}}
                    </div>
				</div>
				<div class="col-6--sm col-12--xxs">
					<div class="mb-3">
                        {{label.render('Voornaam', {id: 'voornaam', mandatory:'true'})}}
                        {{input.render({name:'voornaam', placeholder:'Voornaam', id:'voornaam'})}}
                    </div>
				</div>
				<div class="col-4--sm col-12--xxs">
					<div class="mb-3">
                        {{label.render('Geboortedatum', { id:'bd', mandatory: true })}}
						{{select.render('bd', {id:'bd', placeholder: 'Kies je geboortedatum', options: [
							{
								label: "UXMen",
								value: "uxmen"
							},
							{
								label: "Calibrate",
								value: "calibrate"
							}
						]})}}
                    </div>
				</div>
			</fieldset>

			<fieldset class="row mt-2">
				<legend>Gelieve een kopie van de identiteitskaart op te laden</legend>	
				<div class="col-12">	
                    <ul class="hc-input__list hc-input__list--vertical mt-2">
                        <li>{{radio.render('type', 'Arbeider', 'worker')}}</li>
                        <li>{{radio.render('type', 'Bediende', 'employee')}}</li>
                    </ul>
				</div>
			</fieldset>	

			<div class="row">
				<div class="col-12 mt-2">
					<button type="button" class="hc-button hc-button__outline-primary mr-2" tabindex="0"  onclick="window.location.href='start.html'">
						<span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('prev-arrow', 'hc-icon')}}</span>Vorige</span>
					</button>
					<button type="button" class="hc-button hc-button__primary" tabindex="0"  onclick="window.location.href='step2.html'">
						<span class="hc-button__label">Volgende<span class="hc-button__icon hc-button__icon--end">{{icon.render('next-arrow', 'hc-icon')}}</span></span>
					</button>
				</div>
			</div>
        </div>
           
	</section>

{% endblock %}