{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}
{% import "components/forms/switcher.twig" as switcher %}

{% block body %}
	<!-- html goes here -->
	
  {% include 'layouts/header.twig' %}

	<section role="main">

      <div class="hc-container hc-container-condensed accent py-4">
            
			<h2>Waar kan je mij bereiken</h2>


				<div class="row">
					<div class="col-12">
						{{label.render('E-mailadres', {mandatory:'true', for:'email', id: 'label-email'})}}
					</div>
				</div>
				<div class="row">
					<div class="col-8--md col-12 mb-3">
						{{input.render({type: 'email', name:'email', placeholder:'E-mailadres', id:'email', label:'label-email', autocomplete: 'email'})}}
					</div>
					<div class="col-4--md col-12 mb-3">
            {{label.render('E-mail gdpr', {id: 'gdpr-email', mandatory:'true', class: "sr-only"})}}
						{{switcher.render('gdpr-email')}}
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						{{label.render('Bevestig e-mailadres', {mandatory:'true', for: 'confirm-email', id: 'label-confirm-email'})}}
					</div>
				</div>

				<div class="row">
					<div class="col-8--md col-12 mb-3">
						{{input.render({type: 'email', name:'confirm-email', placeholder:'Bevestig e-mailadres', id:'confirm-email', label: 'label-confirm-email', autocomplete: 'email'})}}
					</div>
					<div class="col-4--md col-12 mb-3">
            {{label.render('Confirm e-mail gdpr', {id: 'gdpr-confirm-email', mandatory:'true', class: "sr-only"})}}
						{{switcher.render('gdpr-confirm-email')}}
					</div>
				</div>
        
				<div class="row">
					<div class="col-12">
						{{label.render('Fixed line phone', {optional: 'Optional', for: 'telefoon', id: 'label-telefoon' })}}
					</div>
				</div>

				<div class="row">
					<div class="col-8--md col-12 mb-3">
						{{input.render({type: 'tel', name:'telefoon', placeholder:'+32 (0)x xxx xx xx', id:'telefoon', label: 'label-telefoon', helper: 'phone-helper', autocomplete: 'tel'})}}
            {{helper.render('Alleen belgische nummers zijn toegestaan', {id: 'phone-helper'})}}
					</div>
					<div class="col-4--md col-12 mb-3">
            {{label.render('Telefoon gdpr', {id: 'gdpr-phone', mandatory:'true', class: "sr-only"})}}
						{{switcher.render('gdpr-phone')}}
					</div>
				</div>
        
				<div class="row">
					<div class="col-12">
						{{label.render('GSM', {optional: 'Optioneel', for: 'mobile', id: 'label-mobile'})}}
					</div>
				</div>

				<div class="row">
					<div class="col-8--md col-12 mb-3">
						{{input.render({type:'tel', name:'mobile', placeholder:'+32 04xx xx xx xx', id:'mobile', label: 'label-mobile', autocomplete: 'tel'})}}
					</div>
					<div class="col-4--md col-12 mb-3">
            {{label.render('GSM gdpr', {id: 'gdpr-mobile', mandatory:'true', class: "sr-only"})}}
						{{switcher.render('gdpr-mobile')}}
					</div>
				</div>
        
				<div class="row">
					<div class="col-12">
						{{label.render('Whatsapp', {optional: 'Dit veld is optioneel', mandatory: true, for: 'whatsapp', id: 'label-whatsapp', })}}
					</div>
				</div>

				<div class="row">
					<div class="col-8--md col-12 mb-3">
						{{input.render({name:'whatsapp', placeholder:'Whatsapp', helper: 'whatsapp-helper', id:'whatsapp', label: 'label-whatsapp'})}}
            {{helper.render('Alleen belgische nummers zijn toegestaan', {id:'whatsapp-helper' })}}
					</div>
					<div class="col-4--md col-12 mb-3">
            {{label.render('GSM whatsapp', {id: 'gdpr-whatsapp', mandatory:'true', optional: 'dit veld is optioneel', class: "sr-only"})}}
						{{switcher.render('gdpr-whatsapp')}}
					</div>
				</div>

        <div class="row mt-2">
          <div class="col-12 flex--md direction-row-reverse--md justify-end--md">
            <button type="button" class="hc-button hc-button__primary mb-2 w-100 w-auto--md" tabindex="0"  onclick="window.location.href='step4.html'">
              <span class="hc-button__label">Volgende<span class="hc-button__icon hc-button__icon--end">{{icon.render('next-arrow', 'hc-icon')}}</span></span>
            </button>
            <button type="button" class="hc-button hc-button__outline-primary mr-2 mb-2 w-100 w-auto--md" tabindex="0"  onclick="window.location.href='step2.html'">
              <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('prev-arrow', 'hc-icon')}}</span>Vorige</span>
            </button>
          </div>
        </div>

      </div>

	</section>

{% endblock %}