{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->
		{% include 'layouts/nav.twig'  with {'active' : 'form'} %}
	
	{% include 'layouts/header.twig' %}

	<section role="main">

        <div class="hc-container hc-container-condensed hc-accent py-4">
            
			<h2>Mijn persoonsgegevens</h2>
			<h3 class="hc-h4">Gelieve een kopie van de identiteitskaart op te laden</h3>
			<p>Een foto of een scan van uw identiteitskaart (voor- en achterkant) is vereist om uw informatieverzoek voort te zetten</p>
			<fieldset disabled>
				<div class="row">
					<div class="col-12">
						<div class="mb-3">
							{{label.render('Recto van jouw eID', {id: 'reid', mandatory:'true'})}}
							<div class="hc-input hc-input--file">
								<input class="hc-input__input" aria-labelledby="reid" type="file" placeholder='Kies bestand'>
							</div>
							{{helper.render('De recto zijde is de voorkant van jouw eID')}}
						</div>
					</div>
					<div class="col-12">
						<div class="mb-3">
							{{label.render('Verso van jouw eID', {id: 'veid', mandatory:'true'})}}
							<div class="hc-input hc-input--file">
								<input class="hc-input__input" aria-labelledby="veid" type="file" placeholder='Kies bestand'>
							</div>
							{{helper.render('De recto zijde is de voorkant van jouw eID')}}
						</div>
					</div>
				</div>
			</fieldset>

			<div class="row">
				<div class="col-12 flex--md direction-row-reverse--md justify-end--md mt-4">
					<button type="button" class="hc-button hc-button__tertiary mb-2 w-100 w-auto--md" tabindex="0"  onclick="window.location.href='step3.html'">
						<span class="hc-button__label">Volgende<span class="hc-button__icon hc-button__icon--end">{{icon.render('next-arrow')}}</span></span>
					</button>
					<button type="button" class="hc-button hc-button__outline-tertiary mr-2 mb-2 w-100 w-auto--md" tabindex="0"  onclick="window.location.href='step1.html'">
						<span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('prev-arrow')}}</span>Vorige</span>
					</button>
				</div>
			</div>

        </div>
           
	</section>

{% endblock %}