{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->

	{% include 'layouts/nav.twig'  with {'active' : 'form'} %}

	{% include 'layouts/header.twig' %}

	<section role="main">

        <div class="hc-container hc-container-condensed hc-accent py-4">
            <h2>Mijn persoonsgegevens</h2>
			<fieldset>
				<div class="row mt-2">
					<div class="col-5--sm col-12--xxs">
						<div class="mb-3">
							{{label.render('Rijksregisternummer', { mandatory:true , for: 'rrn', id: 'label-rrn', class: 'hc-valid'})}}
							{{input.render({name:'rijksregisternummer', placeholder:'xx.xx.xx - xxx.xx', id:'rrn', label: 'label-rrn', class: 'hc-valid', helper: 'help-rrn'})}}
							{{helper.render('De recto zijde is de voorkant van jouw eID', {id:'help-rrn', class: 'hc-valid'})}}
						</div>
					</div>
					<div class="col-7--sm col-12--xxs">
						<div class="mb-3">
							{{label.render('Nationaliteit', {for: 'nat', id:'label-nat', mandatory: true })}}
							{{select.render({name: 'country', placeholder:'Nationaliteit', id:'nat', label: 'label-nat', options:[
								{
									label: "Australië",
									value: "AU"
								},
								{
									label: "België",
									value: "BE"
								},
								{
									label: "Canada",
									value: "CA"
								},
								{
									label: "Denemarken",
									value: "DK"
								},
								{
									label: "Estland",
									value: "EST"
								},
								{
									label: "Frankrijk",
									value: "FR"
								}
							]})}}
						</div>
					</div>
					<div class="col-6--sm col-12--xxs">
						<div class="mb-3">
							{{label.render('Naam', { mandatory:'true', for: 'naam', id: 'label-naam'})}}
							{{input.render({name:'Naam', placeholder:'Naam', id:'naam', label: 'label-naam'})}}
						</div>
					</div>
					<div class="col-6--sm col-12--xxs">
						<div class="mb-3">
							{{label.render('Voornaam', {mandatory:'true', for: 'voornaam', id: 'label-voornaam'})}}
							{{input.render({name:'voornaam', placeholder:'Voornaam', id:'voornaam', label: 'label-voornaam', autocomplete: 'given-name'})}}
						</div>
					</div>
					<div class="col-4--sm col-12--xxs">
						<div class="mb-3">
							{{label.render('Geboortedatum', {mandatory: true, for: 'bd', id:'label-bd' })}}
							{{select.render({name: 'bd', placeholder: 'Kies je geboortedatum', id:'bd', label:'label-bd', autocomplete:'bday', options: [
								{
									label: "UXMen",
									value: "uxmen"
								},
								{
									label: "Calibrate",
									value: "calibrate"
								}
							]})}}
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="mt-2">
				<legend>Gelieve een kopie van de identiteitskaart op te laden</legend>	
				<div class="row">
					<div class="col-12">	
						<ul class="hc-input__list hc-input__list--vertical mt-2">
							<li>{{radio.render('type', { label: 'Arbeider', value: 'worker'} )}}</li>
							<li>{{radio.render('type', { label: 'Bediende', value: 'employee' })}}</li>
						</ul>
					</div>
				</div>
			</fieldset>	

			<div class="row">
				<div class="col-12 flex--md direction-row-reverse--md justify-end--md mt-4">
					<button type="button" class="hc-button hc-button__tertiary mb-2 w-100 w-auto--md" tabindex="0"  onclick="window.location.href='step2.html'">
						<span class="hc-button__label">Volgende<span class="hc-button__icon hc-button__icon--end">{{icon.render('next-arrow')}}</span></span>
					</button>
					<button type="button" class="hc-button hc-button__outline-tertiary mb-2 mr-2 w-100 w-auto--md" tabindex="0"  onclick="window.location.href='start.html'">
						<span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('prev-arrow')}}</span>Vorige</span>
					</button>
				</div>
			</div>
        </div>
           
	</section>

{% endblock %}