{% macro render(name, options = {}) %}
    {% import "components/icons/icon.twig" as icon %}
    
    <label class="hc-checkbox {{options.class}}">
        <input type="checkbox" name="{{name}}" value="{{options.value}}" class="hc-checkbox__input" {% if options.required %}aria-required="true" required{% endif %} {% if options.checked %}checked="checked"{% endif %} {% if options.disabled %}aria-disabled="true" disabled{% endif %}/>
        {{- icon.render('check-small', { class:'hc-checkbox__icon' })-}}
        <span class="hc-checkbox__label">{{options.label|raw}}</span>
    </label>
{% endmacro %}