{% macro render(type, options = {}) %}
    {% import "components/icons/icon.twig" as icon %}

    <div class="hc-input {{options.class}}">
        {% if options.icon %}
        {{icon.render(options.icon, 'hc-input__icon')}}
        {% endif %}
        <input type="{{type}}" id="{{options.id}}" name="{{options.name}}" placeholder="{{options.placeholder}}" class="hc-input__input" {% if options.disabled %}aria-disabled="true" disabled{% endif %} autocomplete="{{options.autocomplete|default('on')}}" />
    </div>
    
{% endmacro %}