{% macro render(label, options = {}) %}
<label id="{{- options.id -}}" for="{{options.for}}" class="hc-input__label {{options.class}}">
    {{- label -}}
    {%- if options.optional %}
        <span class="hc-input__label-optional"  focusable="false">({{- options.optional -}})</span> 
    {% endif -%}
    {%- if options.mandatory %}
        <span class="hc-input__label-mandatory"  aria-label="Verplicht" focusable="false">*</span>
    {% endif -%}
</label>
{% endmacro %}