{% macro render(name, options) %}
    {% import "components/icons/icon.twig" as icon %}
    
    <div class="hc-select">
        {{icon.render('chevron-down-thin', 'hc-select__icon')}}
        <select name="{{name}}" class="hc-select__input" {% if options.id %}id="{{options.id}}"{% endif %}>
            <option selected disabled>{{options.placeholder|default('Maak een keuze')}}</option>
            {% for option in options.options %}
            <option value="{{option.value}}">{{option.label}}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}